body {
  background-color: #fafafa;
}

.mainPage {
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 10px;
  margin-left: -65px;
}

.loginPage {
  width: 350px;
  padding-bottom: 25px;
  border: 1px solid #dbdbdb;
  margin-top: 25px;
  background-color: white;
  justify-content: center;
}

.instaLogo {
  margin-top: 25px;
  margin-bottom: 25px;
}

.loginInput {
  width: 265px;
  height: 36px;
  margin: 5px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding-left: 10px;
  border-radius: 5px;
  color: #8e8e8e;
}

.loginButton {
  width: 270px;
  margin: 5px;
  height: 36px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #0395f6;
  background-color: #0395f6;
  color: white;
  margin-top: 5px;
}

.loginDivider {
  width: 100px;
  border: 1px solid black;
  margin-top: 10px;
  border: 1px solid #dbdbdb;
}

.loginOrDiv {
  display: flex;
  height: 0px;
  justify-content: center;
  margin-top: 20px;
}

.loginOr {
  margin: 0px 20px;
  font-weight: 500;
  color: #8e8e8e;
}

.loginFb {
  color: #395185;
  font-weight: bold;
  margin-top: 40px;
}

.loginForgot {
  color: rgba(var(--fe0,0,55,107), 1);
  font-size: 14px;
  line-height: 14px;
  margin-top: 12px;
  text-align: center;
}

.fbLogo {
  margin-right: 5px;
}

.signUpPage {
  height: 56px;
  width: 350px;
  border: 1px solid #dbdbdb;
  margin: 25px 0px;
  background-color: white;
}

.signUp {
  padding: 14px ;
}

.signIn {
  padding: 14px ;
}

.signUpText {
  font-weight: bold;
  color: #0395f6;
  cursor: pointer;
}

.signInText {
  font-weight: bold;
  color: #0395f6;
  cursor: pointer;
}

.downloadSection {
  height: 105px;
  width: 350px;
  text-align: center;
  margin-top: 20px;
}

.imageSection {
  margin: 20px 5px 5px 5px !important;
}

.fill-window {
  justify-content: center;
}

.appSection {
  padding-top: 10px;
}

@media screen and (max-width: 782px) {
  .loginImage {
    display: none;
  }

  .mainPage {
    margin-left: 0px;
  }
}